body{
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background: #FFFFFF;
}

.nav-logo{
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5 ;
}

.studio-s{
    color: #2e2f42 ;
}

.studio-li{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.studio-li:hover{
    color: #404bbf;
}

.studio-li:focus {
    background-color: #404bbf;
}

address{
    font-style: normal;
}

.adress-li{
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.adress-li:hover{
    color: #404bbf;
}

.adress-li:focus {
    color: #404bbf;
}

.section-one{
    background-color: #2e2f42;

}
.h1-class{
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.order-bt{
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
}
.order-bt:hover{
    background-color: #404BBF;
}

.order-bt:focus {
    background-color: #404BBF;
}


